{% extends 'base.html' %}
{% block content %}

<div class="ct-pageWrapper" id="ct-js-wrapper">
    <section class="company-heading intro-type" id="parallax-one">
        <div class="container">
            <div class="row product-title-info">
            </div>
        </div>
        <div class="parallax" id="parallax-cta"
            style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
    </section>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
        <div class="container text-center">
            <h2>Drewz Reviewz Story</h2>
            </br>
            <h3>Personal Movie Rating System/IMDB Clone</h3>
            </br>
            <div class="red-border"></div>
            <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">A biased personal movie review web application. Built
                using docker/django and consumes the TMDB API.
                For the complete technical write-up please
                checkout my github and development blog:</br></br> <a
                    href="https://github.com/aejx00">https://github.com/aejx00</a>
                </br></br>
                <a href="https://exceptionmishandler.com/">https://exceptionmishandler.com/</a>
            </p>
            <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
            </br>
        </div>
    </section>
</div>


{% endblock content %}